<% provide(:title, '| O projekte') %>
<h1>O projekte</h1>
<p>
  Táto stránka je výsledkom semestrálneho projektu z predmetu Výskumný seminár na fakulte informatiky Slovenskej technickej univerzity v Bratislave. Účelom tohto predmetu bolo získať vedomosti z oblasti webových technológii a vývoji softvéru. Postavená je na frameworku Ruby on Rails, použitá je databáza PostgreSQL a na vyhľadávanie je použitý Sunspot.
</p>
<p>
  Užitočnosť tejto stránky sa zvyšuje jej používaním, keďže databázu (väčšiny) cien tvoríš práve TY.
</p>