<div class="center hero-unit">
  <h1>ShopList</h1>

  <h2>
    Máte problém organizovať nákupy?

    ShopList vám pomôže.
  </h2>

  <%= link_to "Zaregistrovať sa", signup_path, class: "btn btn-large btn-success" %>
</div>

<div class="row">
  <div class="col-md-4">
    <h4>1.Výhoda</h4>
    <p>Zoznam potrebných potravín na kúpu máte vždy poruke na tejto stránke.</p>
  </div>
  <div class="col-md-4">
    <h4>2. Výhoda</h4>
    <p>Vďaka našej databáze máte prehľad o akuálnych cenách a môžete ľahko ušetriť.</p>
  </div>
  <div class="col-md-4">
    <h4>3. Výhoda</h4>
    <p>Stránka je intuitívna a ľahko použiteľná pre všetkých.</p>
  </div>
</div>


