<% provide(:title, '| Podmienky') %>
<h1>Podmienky služby</h1>
<p>
  Internetová stránka, ako aj jej jednotlivé časti sú chránené zákonom č. 618/2003 Z. z. o
  autorskom práve a právach súvisiacich s autorským právom (ďalej len "autorský zákon"). Výlučným vlastníkom majetkových autorských práv k internetovej stránke je prevádzkovateľ,
  ktorý je zároveň je oprávnený vykonávať majetkové práva k tejto internetovej stránke.
  Podmienky používania internetovej stránky určuje, vydáva a mení výhradne prevádzkovateľ.
  Používaním tejto internetovej stránky dáva návštevníkovi (ďalej len „používateľ“) súhlas s týmito podmienkami.
</p>

<p>
  Prevádzkovateľ dáva právo využívať internetovú stránku výhradne pre osobnú potrebu používateľa. Akékoľvek iné použitie stránky (ako celku, tak ich jednotlivých častí) podlieha predchádzajúcemu schváleniu prevádzkovateľa v súlade s Autorským zákonom. Prístup na internetovú stránku je bezplatný. Jej používanie je spoplatnené sumou 5€ mesačne.
</p>

<p>Informácie na týchto stránkach majú informatívny charakter, nie sú právne záväzné a nepredstavujú predajnú ponuku. Informácie o cenách obsiahnuté na týchto stránkach či poskytnuté ich prostredníctvom sú čisto informačného charakteru a nepredstavujú predajnú ponuku na akýkoľvek produkt a zároveň nezaväzujú predajcov.</p>

<p>
  Prevádzkovateľ nezodpovedá za prípadné škody spôsobené používaním internetovej stránky. Prevádzkovateľ tiež nezodpovedá za prípadné škody spôsobené používaním internetových stránok tretích osôb, na ktoré odkazuje táto internetová stránka.
</p>

<p>
  S výnimkou týchto podmienok nemá zverejnenie akýchkoľvek údajov alebo informácií na internetovej stránke povahu žiadneho právneho úkonu smerujúceho ku vzniku právneho vzťahu medzi prevádzkovateľom a používateľom, pokiaľ nie je v jednotlivých prípadoch uvedené inak. Právne vzťahy, ktoré vznikli medzi prevádzkovateľom a používateľom týchto stránok sa riadia podľa znenia týchto podmienok platného ku dňu vzniku týchto vzťahov. Podmienky používania interentovej stránky sú platné a účinné dňom ich zverejnenia. Podmienky boli zverejnené 17.06.2014.
</p>