<% provide(:title, '| Pridať produkt') %>
<h1>Pridanie produktu</h1>

<div class="row">
  <div class="span1 offset2">
    <div class="col-md-4">
      <%= render 'new_product' %>
    </div>
  </div>
</div>
