<footer class="footer">
  <small>
    2014 © Lukáš Miškovský
  </small>
  <nav>
    <ul>
      <li><%= link_to " Kontakt", contact_path%></li>
      <li><%= link_to " O projekte", about_path %></li>
      <li><%= link_to " Podmienky", terms_path %></li>
      <li><%= link_to image_tag("print.png", alt: "Vytlačiť"), "javascript:window.print();" %></li>
    </ul>
  </nav>
</footer>